body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url("C:\Users\josea\Documents\ProyRec\imagenes\bf.jpg");
}

.container {
    display: flex;
    width: 80%;
    margin: 20px auto;
    border: 1px solid black;
}

.left-column, .right-column {
    padding: 20px;
}

.left-column {
    width: 70%;
    border-right: 1px solid black;
    background-image: url("C:\Users\josea\Documents\ProyRec\imagenes\bf.jpg");
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}

.right-column {
    width: 30%;
    background-color: #88c9ff;
    color: white;
}

h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

h2 {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    margin: 5px 0;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

.photo {
    border: 1px solid black;
    width: 50px;
    height: 50px;
    text-align: left;
    line-height: 50px;
    margin-top: 10px;
}